.bg-hero-section {
  background-image:
    linear-gradient(rgba(var(--dark-rgb) / 0.6), rgba(var(--dark-rgb) / 0.6)),
    url('/assets/images/hero-section.jpg');
}

.bg-volunteer-with-us {
  background-image:
    linear-gradient(rgba(var(--dark-rgb) / 0.7), rgba(var(--dark-rgb) / 0.7)),
    url('/assets/images/volunteer-with-us.jpg');
}

.bg-partner-with-us-hero {
  background-image:
    linear-gradient(to right, rgba(var(--dark), 0.9), rgba(var(--dark), 0.1)),
    url('/assets/images/mol.jpg');
}

.bg-backtoschool-hero {
  background-image:
    linear-gradient(to right, rgba(var(--dark), 0), rgba(var(--dark), 0)),
    url('/assets/images/back-to-school.jpg');
}

.bg-give-a-meal-logo {
  background-image:
    linear-gradient(rgba(var(--dark-rgb) / 0.7), rgba(var(--dark-rgb) / 0.7)),
    url('/assets/images/give-a-meal-logo.jpg');
}

.bg-cta-section {
  background-image:
    linear-gradient(rgba(var(--dark-rgb) / 0.6), rgba(var(--dark-rgb) / 0.6)),
    url('/assets/images/cta-banner.jpg');
}

.bg-dashboard-white-bg {
  background-image:
    linear-gradient(rgba(var(--light-rgb) / 0.2), rgba(var(--light-rgb) / 0.2)),
    url('/assets/images/dashboard-white-bg.jpg');
}

.bg-register-cta-7bmc-section {
  background:
    linear-gradient(rgba(var(--dark), 0.7), rgba(var(--dark), 0.7)),
    url('/assets/images/5-billion-meal-campaign-women-speaking.jpg');
}

.bg-christmas-sendportion-cta {
  background:
    linear-gradient(rgba(var(--dark), 0.7), rgba(var(--dark), 0.7)),
    url('/assets/images/christmas-sendportion-cta-bg.jpg');
}

.bg-exhibition-form-ippc {
  background:
    linear-gradient(rgba(var(--primary), 0.7), rgba(var(--primary), 0.7)),
    url('/assets/images/bg-exhibition-form-ippc.jpg');
}

.bg-hero-wavy-pattern {
  background-image: url('/assets/svg/bg-wavy-pattern.svg');
  background-size: cover;
}

.bg-sendportions-hero {
  background-image:
    linear-gradient(to right, rgba(var(--dark), 0.8), rgba(var(--dark), 0.2)),
    url('/assets/images/send-portion-bg.jpeg');
}
