@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://db.onlinewebfonts.com/c/b5d71a62b965b06de2fa2a759ff7b023?family=Street+Corner+Oblique");
@import url("https://db.onlinewebfonts.com/c/ca6cb600a26915fefadbf2e6093fa9e8?family=Divona");

:root {
    --primary: #0080de;
    --primary-rgb: 0 128 222;
    --secondary: #005593;
    --secondary-rgb: 0 85 147;
    --grey: #363939;
    --grey-rgb: 54 57 57;
    --dark: #1d1d1d;
    --dark-rgb: 29 29 29;
    --light: #fefefe;
    --light-rgb: 254 254 254;
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.1s ease-in-out;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: var(--light);
}

*::-webkit-scrollbar-thumb {
    background: rgba(var(--primary-rgb) / 0.4);
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--primary-rgb) / 0.6);
}

html {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    scroll-behavior: smooth;
}

#root {
    min-height: 100vh;
}

body {
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-inter {
    font-family: "Divona";
}

.font-street-corner {
    font-family: "Street Corner Oblique";
}

.font-divona {
    font-family: "Divona";
}

.wrapper,
.container {
    width: 98%;
    max-width: 1250px;
    margin: auto;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 15px;
    }
}

