@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary: #0080de;
  --primary-rgb: 0 128 222;
  --secondary: #005593;
  --secondary-rgb: 0 85 147;
  --fade-blue: #e6f4f1;
  --fade-blue-rgb: 230 244 241;
  --grey: #363939;
  --grey-rgb: 54 57 57;
  --blue-grey: #404756;
  --blue-grey-rgb: 64 71 86;
  --dark: #1d1d1d;
  --dark-rgb: 29 29 29;
  --light: #fefefe;
  --light-rgb: 254 254 254;
  --grey-white: #f4f3f1;
  --grey-white-rgb: 244 243 241;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #0080de;
    --primary-rgb: 0 128 222;
    --secondary: #005593;
    --secondary-rgb: 0 85 147;
    --grey: #363939;
    --grey-rgb: 54 57 57;
    --dark: #1d1d1d;
    --dark-rgb: 29 29 29;
    --light: #fefefe;
    --light-rgb: 254 254 254;
    --grey-white: #f4f3f1;
    --grey-white-rgb: 244 243 241;
  }
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in-out;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--light);
}

*::-webkit-scrollbar-thumb {
  background: rgba(var(--primary-rgb) / 0.4);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--primary-rgb) / 0.6);
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  scroll-behavior: smooth;
  background: var(--light);
}

#root {
  min-height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.wrapper,
.container {
  width: 98%;
  max-width: 1250px;
  margin: auto;
  height: 100%;
}

.sub-header {
  position: relative;
}
.sub-header::before {
  content: '';
  top: 50%;
  left: -65px;
  position: absolute;
  width: 55px;
  height: 2px;
  background: var(--grey);
  display: block;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }
}
