@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
:root {
  --dark: 0, 0, 0; /* rgb(0, 0, 0) */
  --light: 255, 255, 255; /* rgb(255, 255, 255) */
  --ghost-white: 240, 240, 240; /* rgb(240, 240, 240) */
  --fade-blue: 216, 239, 255; /* rgb(216, 239, 255)  */
  --blue-grey: 64, 71, 86; /* rgb(64, 71, 86) */
  --primary: 0, 128, 222; /* rgb(0, 128, 222) */
  --accent: 255 241 0; /* rgb(255, 241, 0) */
  --secondary: 230, 244, 241; /* rgb(230, 244, 241) */
  --complementary: 64, 71, 86; /* rgb(64, 71, 86) */
  --textcolor: 62, 65, 76; /* rgb(62, 65, 76) */
  --error: 217, 45, 32; /* rgb(217, 45, 32) */
  --warning: 253, 176, 34; /* rgb(253, 176, 34) */
  --success: 5, 79, 49; /* rgb(5, 79, 49) */
  --info: 14, 54, 255; /* rgb(14, 54, 255) */
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in-out;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--light);
}

*::-webkit-scrollbar-thumb {
  background: rgba(var(--primary-rgb) / 0.4);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--primary-rgb) / 0.6);
}

html.light {
  --dark: 0, 0, 0; /* rgb(0, 0, 0) */
  --light: 255, 255, 255; /* rgb(255, 255, 255) */
  --ghost-white: 240, 240, 240; /* rgb(240, 240, 240) */
  --fade-blue: 216, 239, 255; /* rgb(216, 239, 255)  */
  --blue-grey: 64, 71, 86; /* rgb(64, 71, 86) */
  --primary: 0, 128, 222; /* rgb(0, 128, 222) */
  --accent: 255 241 0; /* rgb(255, 241, 0) */
  --secondary: 230, 244, 241; /* rgb(230, 244, 241) */
  --complementary: 64, 71, 86; /* rgb(64, 71, 86) */
  --textcolor: 62, 65, 76; /* rgb(62, 65, 76) */
  --error: 217, 45, 32; /* rgb(217, 45, 32) */
  --warning: 253, 176, 34; /* rgb(253, 176, 34) */
  --success: 5, 79, 49; /* rgb(5, 79, 49) */
  --info: 14, 54, 255; /* rgb(14, 54, 255) */
}

html.dark {
  --dark: 0, 0, 0; /* rgb(0, 0, 0) */
  --light: 255, 255, 255; /* rgb(255, 255, 255) */
  --ghost-white: 240, 240, 240; /* rgb(240, 240, 240) */
  --fade-blue: 216, 239, 255; /* rgb(216, 239, 255)  */
  --blue-grey: 64, 71, 86; /* rgb(64, 71, 86) */
  --primary: 0, 128, 222; /* rgb(0, 128, 222) */
  --accent: 255 241 0; /* rgb(255, 241, 0) */
  --secondary: 230, 244, 241; /* rgb(230, 244, 241) */
  --complementary: 64, 71, 86; /* rgb(64, 71, 86) */
  --textcolor: 62, 65, 76; /* rgb(62, 65, 76) */
  --error: 217, 45, 32; /* rgb(217, 45, 32) */
  --warning: 253, 176, 34; /* rgb(253, 176, 34) */
  --success: 5, 79, 49; /* rgb(5, 79, 49) */
  --info: 14, 54, 255; /* rgb(14, 54, 255) */
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  scroll-behavior: smooth;
  background: rgba(var(--ghost-white));
  color: rgba(var(--textcolor));
}

html[class] body {
  display: block;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 18px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-lato,
.font-header {
  font-family: 'Lato', sans-serif;
  /* font-family: 'Zain', sans-serif; */
}

.font-cursive {
  font-family: 'Gaegu', cursive;
}

.font-open-sans,
.font-body {
  font-family: 'Lato', sans-serif;
}

.wrapper,
.container {
  width: 98%;
  max-width: 1250px;
  margin: auto;
  height: 100%;
}

.sub-header {
  position: relative;
}

.sub-header::before {
  content: '';
  top: 50%;
  left: -45px;
  position: absolute;
  width: 40px;
  height: 1.5px;
  background: rgba(var(--textcolor));
  display: block;
  border-radius: 10px;
}

.pre-header {
  position: relative;
}

.pre-header::before {
  content: '';
  top: 50%;
  right: 240px;
  position: absolute;
  width: 40px;
  height: 1.5px;
  background: rgba(var(--textcolor));
  display: block;
  border-radius: 10px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgba(var(--primary)) !important;
}

.clip-hero-illustration {
  -webkit-mask-image: url('/assets/svg/illustration-image-clipboard.svg');
  mask-image: url('/assets/svg/illustration-image-clipboard.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  margin-inline: auto;
}

@media only screen and (max-width: 650px) {
  body {
    font-size: 16px;
  }

  .sub-header::before {
    left: -25%;
    width: 30px;
  }
}
